<template>
  <div class="text-start">
    <h3 class="todoTitle">
      To do App
    </h3>
    <form @submit.prevent="onTodoSubmit">
      <div class="form-group mt-5">
        <input
          type="text"
          data-testid="enterTodo"
          id="enterTodo"
          class="form-control input"
          placeholder="Todo"
          v-model="name"
        />
      </div>
      <button
        type="submit"
        data-testid="addBtn"
        id="addButton"
        class="btn button"
      >
        Add Todo
      </button>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "AddTodo",
  data() {
    return {
      name: "",
    };
  },
  methods: {
    ...mapActions(["addTodo", "fetchTodo"]),
    onTodoSubmit() {
        this.addTodo({
          text: this.name,
        });
    },
  },
};
</script>

<style>
.input {
  font-size: 18px;
  height: 50px;
  border-radius: 0px;
  padding-left: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e9e9e9;
  font-family: SF Pro Display;
}

.form-control:focus {
  border-bottom: 1px solid #e9e9e9;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%) !important;
  outline: none !important;
}
.button {
  width: 10vw;
  background: rgb(236, 236, 236);
  color: rgb(95, 95, 95);
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  font-family: SF Pro Display;
  outline: none !important;
}

.input::placeholder {
  color: #c2c2c2;
  font-family: SF Pro Display;
  font-weight: 300;
}

.todoTitle {
  margin-left: 10px;
  margin-bottom: -20px;
  font-weight: 600;
  font-size: 40px;
  font-family: SF Pro Display;
}
</style>
