<template>
  <div style="overflow:auto;margin-top:-50px; display:grid">
    <ul class="list-group mt-5 grid" id="deneme">
      <li
        style="margin-bottom:10px"
        class="list-group-item list-group-item-action"
        v-for="todo in todoList"
        :key="todo._id"
      >
        <div class="d-flex w-100 justify-content-between">
          <h3 class="todoName">{{ todo.text }}</h3>
          <button
            data-testid="deleteBtn"
            class="text-danger delete deleteBtn"
            @click="deleteTodo(todo)"
          >
            &#10005;
          </button>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Todos",
  methods: {
    ...mapActions(["fetchTodo", "deleteTodo"]),
  },
  computed: mapGetters(["todoList"]),
  created() {
    this.fetchTodo();
  },
};
</script>

<style>
.delete {
  font-size: 18px;
  cursor: pointer;
  font-family: SF Pro Display;
}

.todoName {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-group-item {
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 320px;
  height: 150px;
  border-radius: 20px !important;
  padding: 30px;
  padding-top: 50px;
  border: none !important;
  margin-top: 10px;
  font-family: SF Pro Display;
  overflow: auto;
}

.deleteBtn {
  border: none;
  width: 40px;
  height: 40px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 100px;
}

.grid {
  display: grid;
  grid-auto-rows: 180px;
  grid-template-columns: repeat(5, 1fr);
  color: #444;
}
</style>
