<template>
    <div class="container">
        <div class="addTodo">
            <AddTodo />
        </div>
        <h3 class="sticky">To do cards</h3>
        <div class="todos">
            <Todos />
        </div>
    </div>
</template>

<script>
import AddTodo from "../src/components/AddTodo";
import Todos from "../src/components/Todos";
import { mapGetters } from "vuex";

export default {
    name: "App",
    components: {
        AddTodo,
        Todos
    },
    computed: mapGetters(["todoList"])
};
</script>

<style>
.container {
    background-color: rgb(236, 236, 236);
    max-width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 70px;
    border-radius: 20px;
    padding-top: 50px;
    overflow: hidden !important;
}

.addTodo {
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 30px;
}

.todos {
    overflow: auto;
    padding-left: 45px;
    max-height: 470px;
    margin-top: 15px;
}

.sticky {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    font-weight: 600;
    background: rgb(236, 236, 236);
    padding-bottom: 20px;
    padding-left: 45px;
    color: rgb(85, 83, 83);
    padding-top: 30px;
    margin-top: 15px;
    border-bottom: 1px solid #cbcbcb;
    font-family: SF Pro Display;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}
</style>
